<div class="container">

<div class="row justify-content-center pt-5 mt-5">
<h1 class="text-center font-weight-bold">シーシャガチャ</h1>
</div>

<div class="row justify-content-center mt-5">
<%= link_to 'ガチャを回す', '/items',class: "btn btn-sm btn-danger"%>
</div>
</div>